:root {
  --main-bg-color: #0f0f0f;
  --main-text-color: #ededed;
  --hover-board-color: #0f0f0fb9;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Shadows Into Light", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

header {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  gap: 20px;
}
.logo {
  width: 60px;
  height: 60px;
  align-self: center;
}

main {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

fieldset {
  border: none;
  display: flex;
  gap: 20px;
}

.mode,
.place,
.play,
.place1,
.place2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--main-text-color);
  border-radius: 10px;
  gap: 30px;
  padding: 20px;
}

.play {
  width: 950px;
  gap: 20px;
}

.not-display {
  display: none;
}

.mode-buttons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mode-span {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.mode-span:hover {
  background-color: #461e25;
  color: #ff707f;
}

.mode-buttons-div input[type="radio"] {
  display: none;
}

.mode-buttons-div input[type="radio"]:checked + span {
  background-color: #461e25;
  color: #ff707f;
  border: 2px solid #ff707f;
}

.place-button,
.play-button,
.randomize-button,
.randomize-place1-button,
.play-button,
.player2-button,
.play2-button,
.randomize-place2-button {
  display: flex;
  gap: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.place-button {
  background-color: #162f44;
  color: #7db4ff;
}

.place-button:hover {
  background-color: #162f44c7;
}

.play-button,
.player2-button,
.play2-button {
  background-color: #163323;
  color: #04b755;
}

.play-button:hover,
.player2-button:hover,
.play2-button:hover {
  background-color: #163323b8;
}

.randomize-button,
.randomize-place1-button,
.randomize-place2-button {
  background-color: #332946;
  color: #a28aff;
}

.randomize-button:hover,
.randomize-place1-button:hover,
.randomize-place2-button {
  background-color: #332946a2;
}

.play-button:disabled,
.player2-button:disabled,
.play2-button:disabled {
  cursor: not-allowed;
  background-color: #454343;
  color: #c0c0c0;
}

.randomize-buttons {
  display: flex;
  gap: 20px;
}

.boards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.row-board {
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.column-board {
  width: 40px;
  height: 40px;
  border: 1px solid var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-number-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.row-number,
.col-number {
  width: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-number {
  width: 38px;
  height: 30px;
}

.coordinate-painted {
  background-color: #332946;
  border: 2px solid #8060ff;
}

.play-info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.round-info {
  font-size: 1.5rem;
  border: 1px solid var(--main-text-color);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.player-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.statistics-title {
  text-decoration: underline;
}

.clickable-board .column-board:hover {
  cursor: pointer;
  background-color: #332946;
  border: 3px solid #8060ff;
}

.attacked-coordinate {
  background-color: #454343;
  border: 3px solid #9b9b9b;
  color: #9b9b9b;
  pointer-events: none;
}

.hit-coordinate {
  background-color: #461e25;
  border: 3px solid #ff707f;
  color: #ff707f;
  pointer-events: none;
}

.winner {
  animation: zoom-in-zoom-out 1s ease infinite;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.author {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: bold;
}

.author:hover,
.place-underline {
  text-decoration: underline;
}

@keyframes zoom-in-zoom-out {
  0% {
    scale: 100%;
  }
  50% {
    scale: 150%;
  }
  100% {
    scale: 100%;
  }
}
